<h1>
Products Management</h1>
<br>
<div id=addform>
<div class="form-group row">
  <div class="col-4">
    <input class="form-control"  hidden id="example-text-input" value = {{prom.id}} [(ngModel)]="id"  >
  </div>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-2 col-form-label">Product Name</label>
  <div class="col-4">
    <input class="form-control"  id="example-search-input" value = {{prom.name}} [(ngModel)] ="name"  >
  </div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Size</label>
  <div class="col-4">
    <input class="form-control"  id="example-email-input" value = {{prom.size}} [(ngModel)]="size"  >
  </div>
</div>

<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Color</label>
  <div class="col-4">
    <input class="form-control"  id="example-email-input" required 
    minlength="5" [(ngModel)]="color" value = {{prom.color}}  >

  </div>
 
</div>

<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Prand</label>
  <div class="col-4">
    <input class="form-control"  id="example-email-input" value = {{prom.prand}} [(ngModel)]="prand"  >
  </div>
</div>

<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Category</label>
  <div class="col-4">
    <input class="form-control"  id="example-email-input"  value = {{prom.category}} [(ngModel)] ="category"   >
  </div>
</div>

<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Image</label>
  <div class="col-4">
    <input type="file" class="form-control"  id="example-email-input"   [(ngModel)] ="image">
  </div>
</div>



<div class="form-group row">
  <div class="col-2 col-form-label"></div>
  <div class="col-4">
    
    <button type="submit"  (click) ="addProduct()" class="btn btn-primary"  [style.visibility] ="show ?'hidden':'visible' " >add</button>  </div>
    <button  type="button" (click) = "updateProduct()" class="btn btn-primary"  [style.visibility] ="!show ?'hidden':'visible' ">update</button>  </div>
  </div>

<br>
<br>

<table class="table" id="table1">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">product name</th>
      <th scope="col">size</th>
      <th scope="col">color</th>
      <th scope="col">prand</th>
      <th scope="col">category</th>
      <th scope="col">image</th>


      <th scope="col">edit</th>
      <th scope="col"> Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let obj of product" >
      <td (click) = "onSelect(obj) ">{{obj.id}}</td>
      <td>{{obj.name}}</td>
      <td>{{obj.size}}</td>
      <td>{{obj.color}}</td>
      <td>{{obj.prand}}</td>
      <td >{{obj.category}}</td>
      <td >{{obj.image}}</td>


      <td><button (click) = "edit(obj.id)" >Edit</button></td>

      <td><button (click) = "delete(obj.id)">Delete</button></td>
    </tr>
    
  </tbody>
</table>
<!--

  <form #addForm = "ngForm" (ngSubmit) = 'addNew(addForm)'>
name = <input required name="name" ngModel/> 
age = <input  name="age" ngModel/> 

<button type= "submit">add</button>
</form>
-->
